/* Style the DVD logo */

.container {
    position: relative;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    margin: 0 auto;
    overflow: hidden;
}

p {
    padding: 5px 0px 10px 0;
}

#dvd-logo-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move-logo-1 5s infinite;
    animation-timing-function: ease-in-out;
}

#dvd-logo-2 {
    position: absolute;
    animation: move-logo-2 10s infinite;
    animation-timing-function: ease-in-out;
}

#dvd-logo-2 img {
    width: 150px;
    height: 100px;
}


#dvd-logo-1 img {
    width: 150px;
    height: 100px;
}

/* Define the animation */
@keyframes move-logo-1 {
    0% {
        transform: translate(-50%, -50%) translateX(-325px) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) translateX(calc(500px - 170px)) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) translateX(-325px) rotate(360deg);
        
    }
}

@keyframes move-logo-2 {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
        /* transform: rotate(0deg); */
    }

    50% {
        top: 398px;
        left: 620px;
        transform: rotate(180deg);

    }

    100% {
        top: 0px;
        left: 0px;
        transform: rotate(360deg);
    }
}

