#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

.container {
  padding: 0 4rem;
  margin: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}